body {
  background-image: url("https://media.discordapp.net/attachments/1241362916188618785/1241374910664671322/b4739ae2288f18e1967ebe75f145d88e.jpg?ex=6649f7fa&is=6648a67a&hm=cb29ee9bfda9be26183d52e8f8a529aa340996b66a1c7351b36782db0691fed9&");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
header img {
  margin-right: -4px;
  width: 150px;
  height: 150px;
  border-radius: 10%;
}
.center {
  margin-left: auto;
  margin-right: 0px;
  display: block;
  margin: 0px;
  text-align: center;
}
body {
  font-family: 'Arial', sans-serif;
}
img.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
h1, h4 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin: 0px;
  color: white
}
p {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  color: white
}
h4, p {
  display: flex;
  text-align: center;
  color: white;
  margin: 0px;
}
.button {
  background-color: #000000;
  border: none;
  animation: neonAnimation 1.5s ease-in-out infinite alternate;
  color: #ffffff;
  padding: 18px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  width: 90%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px gray;
}
@keyframes neonAnimation {
  text-shadow: 0 0 10px rgba(0, 0, 255, 0.8), 0 0 20px rgba(0, 0, 255, 0.8), 0 0 30px rgba(0, 0, 255, 0.8);
}
footer img {
  width: 40px;
  height: 40px;
}
footer {
  display: flex;
  justify-content: center;
}
footer a {
  margin: 20px;
  text-align: center;
  color: white
}
.desktop-version {
  screen and (max-width: 600px) {
    .desktop-version {
        display: none;
}
.mobile-version {
  background-color: black
  padding: 15px;
  text-align: center;
  font-size: 16px;
  color: red;
  }
